{# See custom_tweaks_element_info_alter() #}
{% set bem_block = 'block-' ~ id|clean_class %}
{% set classes = [
bem_block,
] %}
{% set content %}{% spaceless %}{{content}}{% endspaceless %}{% endset %}
{% if content %}
	<div{{attributes.addClass(classes)}}>
		{{title_prefix}}
		{% if label %}
			<h2{{title_attributes.addClass(bem_block ~ '__title')}}>{{label}}</h2>
		{% endif %}
		{{title_suffix}}
		{{content}}
	</div>
{% endif %}
